name: Deployment Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Deployment environments
        required: true
        options:
          - Dev
          - Prod
          - PreProd

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Constants
        id: constants
        run: |
          sleep 10
      - name: Build
        id: build
        run: |
          sleep 20
      - name: Deploy
        id: deploy
        run: |
          sleep 20
