name: Deployment Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Deployment environments
        required: true
        options:
          - Dev
          - Prod
          - PreProd

jobs:
  constants:
    runs-on: ubuntu-latest
    steps:
      - name: Constants
        id: constants
        run: |
        
          case "${{ inputs.environment || 'Pr' }}" in
            "Dev") echo "github_environment=Dev" >>"$GITHUB_OUTPUT" ;;
            "Prod") echo "github_environment=Prod" >>"$GITHUB_OUTPUT" ;;
            "PreProd") echo "github_environment=Prod" >>"$GITHUB_OUTPUT" ;;
            *) echo "Unknown environment: ${{ inputs.environment }}"; exit 1 ;;
          esac
    outputs:
      github_environment: ${{ steps.constants.outputs.github_environment }}

  review:
    runs-on: ubuntu-latest
    needs: constants
    environment: ${{ needs.constants.outputs.github_environment }}
    steps:
      - name: Await environment approval
        run: ''

  deploy:
    runs-on: ubuntu-latest
    needs: [ 'review', 'constants' ]
    environment: ${{ needs.constants.outputs.github_environment }}
    if: ${{ needs.review.result == 'success' }}
    steps:
      - name: Build
        id: build
        run: |
          sleep 20
      - name: Deploy
        id: deploy
        run: |
          sleep 20
